@font-face {
    font-family: 'Aeonik';
    src: url('../../public/fonts/Aeonik-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../../public/fonts/Aeonik-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../../public/fonts/Aeonik-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../../public/fonts/Aeonik-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

.temporal-logo {
    display: block;
    margin: 80px auto 0;
    width: 48px;
    height: 48px;
}

.main-heading {
    color: #FFF;
    text-align: center;
    font-family: 'Aeonik', sans-serif;
    font-size: 2.375rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.25rem;
    margin-top: 1.5rem;
}
